DB_HOST=127.0.0.1
DB_PORT=8889
DB_USER=root
DB_PASS=root
DB_NAME=shopcook
JWT_SECRET=supersecret
PORT=3000
NODE_ENV=development
FRONTEND_ORIGIN=http://localhost:4200
CORS_ORIGINS=http://localhost:4200,http://localhost:8888,http://127.0.0.1:8888
