.card-title {
  color: #3b517a;
  font-weight: 600;
}

.ingredient-item,
.step-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-bottom: 1rem;

  &:last-child {
    border-bottom: none;
  }
}
