.avatar {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: #ffae00;
  color: #3b517a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
}

.card-title {
  color: #3b517a;
}
